                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
 
                        <div class="mb-3">
                            <label for="language" class="form-label">language of the program</label>
                            <select id="language" name="language" class="form-select" required> 